{port_env, [
    {"linux", "CFLAGS", ["$CFLAGS $(",
        "pkg-config --cflags lua 2>/dev/null || ",
        "pkg-config --cflags lua5 2>/dev/null || ",
        "pkg-config --cflags lua5.0 2>/dev/null || ",
        "pkg-config --cflags lua5.1 2>/dev/null || ",
        "pkg-config --cflags lua5.2 2>/dev/null",
        ")"]
    },
    {"linux", "LDFLAGS", ["$LDFLAGS $(",
        "pkg-config --libs lua 2>/dev/null || ",
        "pkg-config --libs lua5 2>/dev/null || ",
        "pkg-config --libs lua5.0 2>/dev/null || ",
        "pkg-config --libs lua5.1 2>/dev/null || ",
        "pkg-config --libs lua5.2 2>/dev/null",
        ")"]
    }
]}.
{port_specs, [{"priv/liberlua.so", ["c_src/*.c"]}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{deps,
    [
        {proper, "", {git, "git://github.com/manopapad/proper.git", {tag, "v1.0"}}}
    ]
}.

