{port_env, [
    {"linux", "CFLAGS",
        "$CFLAGS -g -O3 -Wall -I/usr/local/include/luajit-2.0/ $(pkg-config --cflags luajit 2>/dev/null || echo -lua_not_found)"},
    {"linux", "LDFLAGS",
        "$LDFLAGS $(pkg-config --libs luajit 2>/dev/null|| echo -lua_not_found)"}
    ]
}.
{port_specs, [{"priv/liberlua.so", ["c_src/*.c"]}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_warnings, false}.
{xref_checks, [
    locals_not_used, undefined_function_calls, undefined_functions,
    {deprecated_function_calls, eventually},
    {deprecated_functions, eventually}
]}.
